*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

section {
    margin: 100px 0;
}

.section__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.section__title span {
    font-size: 18px;
    font-weight: lighter;
}

@media only screen and (max-width: 480px) {
    body, html {
        font-size: 14px;
    }

    .container {
        max-width: 95%;
    }

    section {
        margin: 50px 0;
    }

    .section__title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .section__title span {
        font-size: 14px;
    }
}